<!-- @see http://www.phpunit.de/manual/3.3/en/appendixes.configuration.html -->

<!-- bootstrap -->
<phpunit bootstrap="/path/to/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true">
  <!-- ... -->
</phpunit>

<!-- test suite -->
<phpunit>
  <testsuite name="My Test Suite">
    <directory>/path/to/*Test.php files</directory>
    <file>/path/to/MyTest.php</file>
  </testsuite>
</phpunit>

<!-- groups -->
<phpunit>
  <groups>
    <include>
      <group>name</group>
    </include>
    <exclude>
      <group>name</group>
    </exclude>
  </groups>
</phpunit>

<!-- white/black listing -->
<phpunit>
  <filter>
    <blacklist>
      <directory suffix=".php">/path/to/files</directory>
      <file>/path/to/file</file>
      <exclude>
        <directory suffix=".php">/path/to/files</directory>
        <file>/path/to/file</file>
      </exclude>
    </blacklist>
    <whitelist>
      <directory suffix=".php">/path/to/files</directory>
      <file>/path/to/file</file>
      <exclude>
        <directory suffix=".php">/path/to/files</directory>
        <file>/path/to/file</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>

<!-- logging -->
<phpunit>
  <logging>
    <log type="coverage-html" target="/tmp/report" charset="UTF-8"
         yui="true" highlight="false"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-xml" target="/tmp/coverage.xml"/>
    <log type="graphviz" target="/tmp/logfile.dot"/>
    <log type="json" target="/tmp/logfile.json"/>
    <log type="metrics-xml" target="/tmp/metrics.xml"/>
    <log type="plain" target="/tmp/logfile.txt"/>
    <log type="pmd-xml" target="/tmp/pmd.xml" cpdMinLines="5" cpdMinMatches="70"/>
    <log type="tap" target="/tmp/logfile.tap"/>
    <log type="test-xml" target="/tmp/logfile.xml" logIncompleteSkipped="false"/>
    <log type="testdox-html" target="/tmp/testdox.html"/>
    <log type="testdox-text" target="/tmp/testdox.txt"/>
  </logging>
</phpunit>

<!-- PMD Rules -->

<phpunit>
  <logging>
    <pmd>
      <rule class="PHPUnit_Util_Log_PMD_Rule_Project_CRAP"
            threshold="5,30"/>
      <rule class="PHPUnit_Util_Log_PMD_Rule_Class_DepthOfInheritanceTree"
            threshold="6"/>
      <rule class="PHPUnit_Util_Log_PMD_Rule_Class_EfferentCoupling"
            threshold="20"/>
      <rule class="PHPUnit_Util_Log_PMD_Rule_Class_ExcessiveClassLength"
            threshold="1000"/>
      <rule class="PHPUnit_Util_Log_PMD_Rule_Class_ExcessivePublicCount"
            threshold="45"/>
      <rule class="PHPUnit_Util_Log_PMD_Rule_Class_TooManyFields"
            threshold="15"/>
      <rule class="PHPUnit_Util_Log_PMD_Rule_Function_CodeCoverage"
            threshold="35,70"/>
      <rule class="PHPUnit_Util_Log_PMD_Rule_Function_CRAP"
            threshold="30"/>
      <rule class="PHPUnit_Util_Log_PMD_Rule_Function_CyclomaticComplexity"
            threshold="20"/>
      <rule class="PHPUnit_Util_Log_PMD_Rule_Function_ExcessiveMethodLength"
            threshold="100"/>
      <rule class="PHPUnit_Util_Log_PMD_Rule_Function_ExcessiveParameterList"
            threshold="10"/>
      <rule class="PHPUnit_Util_Log_PMD_Rule_Function_NPathComplexity"
            threshold="200"/>
    </pmd>
  </logging>
</phpunit>


<!-- PHP ini settings -->
<phpunit>
  <php>
    <ini name="foo" value="bar"/>
    <var name="foo" value="bar"/>
  </php>
</phpunit>

<!-- selenium -->
<selenium>
  <browser name="Firefox on Linux"
           browser="*firefox /usr/lib/firefox/firefox-bin"
           host="my.linux.box"
           port="4444"
           timeout="30000"/>
</selenium>


