<!-- phpunit config -->
<phpunit bootstrap="./phpunit-bootstrap.php"
	colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true">

	<testsuite name="ShortUrl Test Suite">
		<directory>./</directory>
	</testsuite>

	<filter>
		<whitelist>
			<directory suffix=".php">../lib/</directory>
			<directory suffix=".php">../scripts/</directory>
			<directory suffix=".php">../styles/</directory>
			<exclude>
				<directory suffix=".phtml">./</directory>
				<!-- <directory suffix="Test.php">../lib/</directory> -->
			</exclude>
		</whitelist>

		<blacklist>
			<!-- <directory suffix="Test.php">../lib/</directory> -->
	  </blacklist>
	</filter>


	<logging>
		<!-- <log type="coverage-html" target="../build/reports" charset="UTF-8"
			yui="true" highlight="true"
			lowUpperBound="50" highLowerBound="80"/>
		<log type="testdox-html" target="../build/testdox.html" /> -->


		<!-- <log type="coverage-html" target="/tmp/report" charset="UTF-8"
	       yui="true" highlight="false"
	       lowUpperBound="35" highLowerBound="70"/>
	  <log type="coverage-xml" target="/tmp/coverage.xml"/>
	  <log type="json" target="/tmp/logfile.json"/>
	  <log type="tap" target="/tmp/logfile.tap"/>
	  <log type="test-xml" target="/tmp/logfile.xml" logIncompleteSkipped="false"/>
	  <log type="testdox-html" target="/tmp/testdox.html"/>
	  <log type="testdox-text" target="/tmp/testdox.txt"/>
	   -->
	</logging>


	<selenium>
	  <browser name="Firefox on Mac OS X"
			   browser="*firefox"
			   host="localhost"
			   port="4444"
			   timeout="30000"/>
	  <browser name="Safari on Mac OS X"
			   browser="*safari"
			   host="localhost"
			   port="4444"
			   timeout="30000"/>
	  <!-- <browser name="Safari on Windows Vista"
			   browser="*safari"
			   host="192.168.1.140"
			   port="4444"
			   timeout="30000"/>
	  <browser name="Internet Explorer on Windows Vista"
			   browser="*iexplore"
			   host="192.168.1.140"
			   port="4444"
			   timeout="30000"/> -->
	</selenium>

</phpunit>
